<p id="notice"><%= notice %></p>

<div class="line_info">
  <h2 class = "line_content_1">オーナー情報</h2>
  <%= link_to 'オーナー情報編集', edit_ooya_path(@ooya), class: 'btn btn-primary line_content_4' %>
</div>
<br>

<p>
  <strong>名前:</strong>
  <%= @ooya.full_name + "(#{@ooya.full_name_kana})" %>
</p>

<p>
  <strong>住所:</strong>
  <%= @ooya.zip_cd_show %>
  <%= @ooya.address1 %>
  <%= @ooya.address2 %>
</p>

<p>
  <strong>電話:</strong>
  <%= @ooya.tel %>
</p>

<p>
  <strong>携帯:</strong>
  <%= @ooya.mobile %>
</p>


<br>

<div class="show_children_box">

  <div class="line_info">
    <h3 class = "line_content_1">オーナー所有の建物</h3>
    <%=  link_to "建物追加",new_building_path(ooya_id:  @ooya.id)  ,class: "btn btn-primary line_content_4" %>
  </div>
  <br>
  <ul>
    <% @buildings.each do |building| %>
      <li class="line_info">
        <%= building.name + "→" %>
        <%= link_to "編集", edit_building_path(building.id), class: 'btn btn-primary'  %>
      </li>
    <% end %>
  </ul>

</div>

<br><br>

<p>
  <strong>備考:</strong>
  <%= @ooya.memo %>
</p>

<%= link_to 'Back', ooyas_path %>
