<p id="notice"><%= notice %></p>

<div class="line_info">
  <h3 class = "line_content_1">建物一覧</h3>
<%= link_to '新規作成', new_building_path , class: 'btn btn-primary line_content_3'%>
</div>

<br>

<%= form_with scope: :conditions, url:index_search_buildings_path,method: :get ,remote: true do |f| %>

  <div class="line_info">
    <%= f.label :name, "建物名", class: ' line_content_1' %>
    <%= f.search_field :name, class: ' line_content_2' %>
  </div>
  <div class="line_info">
    <%= f.label :type_div, "種別", class: ' line_content_1' %>
    <%= f.select :type_div, Building.type_divs.keys.map{|k| [I18n.t("enums.building.type_div.#{k}"),k]} , {include_blank: true} ,class: "line_content_2"%>
  </div>

  <div class="line_info">
    <%= f.label :sekisui_div, "積水区分", class: ' line_content_1' %>
    <div class="line_content_2">
      <%= f.check_box :sekisui_div , {multiple: true},0, nil%>
      <span >一般</span>
    </div>

    <div class="line_content_3">
      <%= f.check_box :sekisui_div , {multiple: true},1, nil%>
      <span>積水</span>
    </div>


  </div>

  <div class="line_info">
    <%= f.label :ooya_surname, "大家（名字）", class: ' line_content_1' %>
    <%= f.search_field :ooya_surname, class: ' line_content_2' %>
  </div>
  <div class="line_info">
    <%= f.label :ooya_name, "大家（名前）", class: ' line_content_1' %>
    <%= f.search_field :ooya_name, class: ' line_content_2' %>
  </div>
  <div class="line_info">
    <%= f.submit "検索", class: ' line_content_4' %>
  </div>
<% end %>

  <div class="line_info">

</div>
<br>

<span id = "index_box">
  <%= render 'index_box', buildings: @buildings %>
</span>
