<p id="notice"><%= notice %></p>

<p>
  <strong>建物名:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>種別:</strong>
  <%= @building.type_div_i18n %>
</p>

<p>
  <strong>積水No:</strong>
  <%= @building.sekisui_num_info %>
</p>


<p>
  <strong>住所:</strong>
  <%= @building.full_address %>
</p>

<p>
  <strong>階数:</strong>
  <%= @building.floor %>階
</p>

<p>
  <strong>備考:</strong>
  <%= @building.memo %>
</p>

<p>
  <strong>オーナー:</strong>
  <% if @building.ooya.present? %>
    <%= @building.ooya.full_name %>
  <% else %>
    <%= "オーナー未設定" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
